@namespace Oqtane.Theme.Bootswatch
@inherits ModuleBase
@implements Oqtane.Interfaces.ISettingsControl
@inject ISettingService SettingService
@inject IStringLocalizer<ThemeSettings> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@attribute [OqtaneIgnore]

<div class="container">
    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="login" ResourceKey="Login" ResourceType="@_resourceType" HelpText="Specify if a Login option should be displayed. Note that this option does not prevent the login page from being accessible via a direct url.">Show Login?</Label>
        <div class="col-sm-9">
            <select id="login" class="form-select" @bind="@_login">
                <option value="true">@SharedLocalizer["Yes"]</option>
                <option value="false">@SharedLocalizer["No"]</option>
            </select>
        </div>
    </div>
    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="register" ResourceKey="Register" ResourceType="@_resourceType" HelpText="Specify if a Register option should be displayed. Note that this option is also dependent on the Allow Registration option in User Settings.">Show Register?</Label>
        <div class="col-sm-9">
            <select id="register" class="form-select" @bind="@_register">
                <option value="true">@SharedLocalizer["Yes"]</option>
                <option value="false">@SharedLocalizer["No"]</option>
            </select>
        </div>
    </div>
    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="search" ResourceKey="Search" ResourceType="@_resourceType" HelpText="Specify if a search icon should be displayed">Show Search?</Label>
        <div class="col-sm-9">
            <select id="search" class="form-select" @bind="@_search">
                <option value="true">@SharedLocalizer["Yes"]</option>
                <option value="false">@SharedLocalizer["No"]</option>
            </select>
        </div>
    </div>
    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="mode" ResourceKey="Mode" ResourceType="@_resourceType" HelpText="Specify the Bootstrap theme mode">Mode:</Label>
        <div class="col-sm-9">
            <select id="mode" class="form-select" @bind="@_mode">
                <option value="light">@SharedLocalizer["Light"]</option>
                <option value="dark">@SharedLocalizer["Dark"]</option>
            </select>
        </div>
    </div>
</div>

@code {
    private string _resourceType = "Oqtane.Theme.Bootswatch.ThemeSettings, Oqtane.Theme.Bootswatch.Oqtane"; // for localization
    private string _namespace = "Oqtane.Theme.Bootswatch";

    private string _login = "true";
    private string _register = "true";
    private string _search = "true";
    private string _mode = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadSettings();
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Settings {Error}", ex.Message);
            AddModuleMessage("Error Loading Settings", MessageType.Error);
        }
    }

    private async Task LoadSettings()
    {
        _login = SettingService.GetSetting(PageState.Site.Settings, _namespace + ":Login", "true");
        _register = SettingService.GetSetting(PageState.Site.Settings, _namespace + ":Register", "true");
        _search = SettingService.GetSetting(PageState.Site.Settings, _namespace + ":Search", "true");
        _mode = SettingService.GetSetting(PageState.Site.Settings, _namespace + ":Mode", "light");
        await Task.Yield();
    }

    public async Task UpdateSettings()
    {
        try
        {
            var settings = await SettingService.GetSiteSettingsAsync(PageState.Site.SiteId);
            settings = SettingService.SetSetting(settings, _namespace + ":Login", _login);
            settings = SettingService.SetSetting(settings, _namespace + ":Register", _register);
            settings = SettingService.SetSetting(settings, _namespace + ":Search", _search);
            settings = SettingService.SetSetting(settings, _namespace + ":Mode", _mode);
            await SettingService.UpdateSiteSettingsAsync(settings, PageState.Site.SiteId);
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Saving Settings {Error}", ex.Message);
            AddModuleMessage("Error Saving Settings", MessageType.Error);
        }
    }
}
